name: Generate GitHub Metrics
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg

          # ---------------------------------------------------------
          # TEMA E BASE
          # ---------------------------------------------------------
          template: repository
          base: header, activity, community, repositories, metadata
          config_timezone: America/Sao_Paulo

          config_display: columns
          config_octicon: yes
          config_twemoji: yes

          plugin_introduction: yes

          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all

          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_traffic: true
          
          plugin_repositories: yes
          plugin_repositories_affiliations: owner, collaborator
          plugin_repositories_featured: FelipeRodrigues05/febank-backend, FelipeRodrigues05/personal-finance-app
          plugin_repositories_pinned: 5
          plugin_repositories_starred: 2

          plugin_isocalendar: true
          plugin_isocalendar_duration: half-year
